main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.home-carousel-caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 1rem;
  right: 0;
  bottom: 0;
  background: transparent;
  height: 60%;
  padding-left: 10%;
}

.home-carousel-caption h2,
.home-carousel-caption p {
  text-align: left;
}

.af-height-90 {
  max-height: 90vh;
  overflow: hidden;
}

.af-max-width {
  max-width: 1300px;
}

.carousel-indicators button {
  height: 8px !important;
  width: 8px !important;
  background-color: transparent !important;
  border: 2px solid #fff !important;
}

.carousel-indicators button.active {
  background-color: #fff !important;
}

/* ENTERPRISE SECTION */

.enterprize-section {
  background-color: #2b3033;
  color: #ffffff;
}

.enterprize-header {
  color: transparent;
  font-size: 57px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ffffff;
}

.enterprize-body {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.enterprize-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.enterprize-content.right {
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    flex-direction: column-reverse;
  }
}

.link-button {
  width: fit-content;
  background-color: #ffffff;
  color: #2b3033;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;

  display: inline-flex;
  align-items: center;
  text-transform: uppercase;

  border: black solid transparent;
  padding: 10px 20px;

  letter-spacing: 0.5px;

  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.link-button .link-button-icon {  
  width: 0;
  font-size: 11px;
  display: flex;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
}

.link-button:hover .link-button-icon {
  width: 10.91px;
  margin-right: 8px;
}


/* END ENTERPRISE SECTION */

/* LOGO GALLERY */
.logo-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}


.logo-gallery h2 {
  color: transparent;
  font-size: 57px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #2b3033;
}

.logo-gallery img {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}

.logo-gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

/* END LOGO GALLERY */