main {
  min-height: 80vh;
}

img {
  background-color: transparent !important;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-control-next,
.carousel-control-prev {
 z-index: 9999;
}

.home-carousel-caption {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 1rem;
  right: 0;
  bottom: 5%;
  background: transparent;
  height: 60%;
  padding-left: 5%;
  z-index: 99999;
}

.home-carousel-caption h2,
.home-carousel-caption p {
  text-align: left;
}

.section-wrapper {
  padding: 5rem;
}

.af-max-width {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  max-height: 90vh;  /* Ensure it takes up full width */
  min-height: 90vh;  /* Ensure it takes up full width */
}


.af-height-90 {
  height: 100%;  /* Ensures the height is 100% of the container */
  object-fit: cover;  /* Ensures the image is not stretched, maintains aspect ratio */
  object-position: center center;  /* Centers the image within the container */
  margin: 0 auto;  /* Centers the image */
  overflow: hidden;
}

.carousel-indicators button {
  height: 8px !important;
  width: 8px !important;
  background-color: transparent !important;
  border: 2px solid #fff !important;
}

.carousel-indicators button.active {
  background-color: #fff !important;
}

.swiper-wrapper {
  margin-bottom: 5rem;
}

.shop-all-section {
  background-color: #2b3033;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.link-button {
  width: fit-content;
  background-color: #ffffff;
  color: #2b3033;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;

  display: inline-flex;
  align-items: center;
  text-transform: uppercase;

  border: black solid transparent;
  padding: 10px 20px;

  letter-spacing: 0.5px;

  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
.link-button .link-button-icon {  
  width: 0;
  font-size: 11px;
  display: flex;
  transition: all ease-in-out 0.3s;
  overflow: hidden;
}

.link-button:hover .link-button-icon {
  width: 10.91px;
  margin-right: 8px;
}

.header-white {
  color: transparent;
  font-size: 57px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ffffff;
}

.header-white-solid {
  color: #ffffff;
  font-size: 57px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1;
}

.header-black-solid {
  color: #2b3033;
  font-size: 57px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1;
}

.header-black {
  color: #2b3033;
  font-size: 57px;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #ffffff;
}

.gradient{
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* SWIPER */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
  background-color: #2b3033;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
  padding: 10px !important;
  bottom: 10px !important;
  top: 95% !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}


.swiper-pagination-bullet-active {
  background: #2b3033 !important;
}


/* END SWIPER */

/* ENTERPRISE SECTION */

.enterprize-section {
  background-color: #2b3033;
  color: #ffffff;
}

.enterprize-body {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.enterprize-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.enterprize-content.right {
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    flex-direction: column-reverse;
  }
}


/* END ENTERPRISE SECTION */

/* LOGO GALLERY */
.logo-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}



.logo-gallery img {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}

.logo-gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

/* END LOGO GALLERY */

/* SPECIALIZATION */
.specialization-wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.specialization-left,
.specialization-right {
  position: relative;
}

.specialization-left {
  background: linear-gradient(137deg, rgba(227, 239, 245, 1) 1.08%, rgba(225, 225, 225, 1) 54.69%, rgba(201, 201, 201, 1) 98.96%)
}
.specialization-right {
  background: linear-gradient(22.56deg, rgba(10, 10, 10, 1) 11.41%, rgba(74, 80, 83, 1) 85.66%)
}

.specialization-wrapper  .specialization-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.specialization-wrapper  .content {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 50%;
}
/* END SPECIALIZATION */

.flex-center {
  display:  flex;
  align-items: center;
  justify-content:center;
  width: 100vw !important;
  height: 100vh !important;
}

.three-body {
  --uib-size: 35px;
  --uib-speed: 0.8s;
  --uib-color: #2b3033;
  position: relative;
  display: inline-block;
  height: var(--uib-size);
  width: var(--uib-size);
  animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
  position: absolute;
  height: 100%;
  width: 30%;
}

.three-body__dot:after {
  content: "";
  position: absolute;
  height: 0%;
  width: 100%;
  padding-bottom: 100%;
  background-color: var(--uib-color);
  border-radius: 50%;
}

.three-body__dot:nth-child(1) {
  bottom: 5%;
  left: 0;
  transform: rotate(60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite ease-in-out;
  animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
  bottom: 5%;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
  bottom: 0;
  left: 0;
  animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15)
    ease-in-out;
}

.three-body__dot:nth-child(3) {
  bottom: -5%;
  left: 0;
  transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
  top: 0;
  left: 0;
  animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes wobble1 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
  }
}

@keyframes wobble2 {
  0%,
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }

  50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
  }
}
